<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


<div class="header">
  <a id="name">Welcome to Admin</a>&nbsp; &nbsp;
    <a routerLink="/login">logout</a>
    <!-- <a routerLink="/profile">Profile</a> -->
</div>

<div id="sidebar" class="sidebar">

  <ul>
    <li> DASHBOARD</li>
    <li> <a routerLink="/view">Customer List </a>
    </li>
    <li> <a routerLink="/adminplan">Service Plan Management</a></li>
    <li><a  routerLink="/addon">Add-on Management</a></li>
    <li><a routerLink="/aboutadmin">About </a> </li>
    <li><a routerLink="/admincontact">contact</a></li>

  </ul>
</div>

<div class="form">
    <p>Booking a car wash service is now easy with car wash booking websites and apps.<br>
     These websites and apps are built by a particular car wash brand to reach people who do not want to walk into an outlet without a prior appointment.<br> 
     This way, apps, and websites can target online customers and offer a convenient car wash service.<br>
     Car wash booking website and mobile app provides a platform to book a car wash service easily,<br> keeping long queues and waits out of the picture.<br> These websites and apps allow users to check the type of car they own and the service they want to avail according to the requirement.<br> A date will be booked in the name of the user, the user simply visits the service station on the specific date/time.
    </p>
    </div>