fieldset {
    border: thin solid #ccc; 
    border-radius: 4px;
    padding: 20px;
    padding-left: 40px;
    background: #fbfbfb;
}
#title{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header{
    padding: 10px;
    text-align: right;
    background-color: yellowgreen;
    font-size: 30px;
}
 #image{
    float:left;
    width: 600px;
    height:400px;
 }
 #motive{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
 }