<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>



<div class="header">
  <a id="name">Welcome to Admin</a>&nbsp; &nbsp;
    <a routerLink="/login">logout</a>
    <!-- <a routerLink="/profile">Profile</a> -->
</div>
<!-- <h1>Welcome to Admin</h1> -->
<div id="sidebar" class="sidebar">

  <ul>

    <li> DASHBOARD</li>
    <li> <a routerLink="/view">Customer List </a>

    </li>
    <li> <a routerLink="/adminplan">Service Plan Management</a></li>
    <li><a  routerLink="/addon">Add-on Management</a></li>
    <li><a routerLink="/aboutadmin">About </a> </li>
    <li><a routerLink="/admincontact">contact</a></li>

  </ul>

</div>

<div>
  <body>
    <div class="form">
      <h4>Service Plan List</h4>
  <table class="center">
    <tr>
      <th>Service Plan</th>
      <th>Price</th>
     
    </tr>
    <tr>
      <td>Silver Plan</td>
      <td contenteditable="true">10000</td>
      
    </tr>
    <tr>
      <td>Gold Plan</td>
      <td>15000</td>
      
    </tr>
    <tr>
      <td>Platinum Plan</td>
      <td>25000</td>
      
    </tr>
    </table>
  </div>
  </body>
</div>

