<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<h1 id="title">GREEN CAR WASH</h1>
<div class="header">
    <a routerLink="/login">logout</a>&nbsp; &nbsp;
    <!-- <a routerLink="/register">SignUp</a> -->
</div>
      <img id="image" src="../assets/Mercedes-PNG-Image.png">
      <h2 id="motive">If you have got the TIME,
      We have got the SHINE</h2>

<div class="alert alert-success col-sm-6">
    <div class="success">
        <h2>"Submitted Successfully"</h2>
    </div>
</div>