
.cotainer{
    width: 5000px;
}
fieldset {
    border: thin solid #ccc; 
    width: 600px;
    border-radius: 4px;
    padding: 20px;
    padding-left: -20px;
    /* padding-right: 190px; */
    background: #fbfbfb;
}
.table{
    margin-top: 2%;
   }

td,th{
    border: 1px solid;
    text-align: center;
    padding: px;
}
#title{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header{
    padding: 10px;
    text-align: right;
    background-color: yellowgreen;
    font-size: 30px;
}
 #image{
    float:left;
    width: 600px;
    height:400px;
 }
 #motive{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
 }
