.center{ 
    border: 1px solid black;
    float:right;
    text-align: center;
  }
  th, td {
    border: 1px solid;
  }
  .form{
    text-align: center;
    display: flex;
    justify-content: center;
    margin:90px;
    float:right;
}   

.header{
  padding: 10px;
  /* horizontal-padding:5px; */
  text-align: right;
  background-color: yellowgreen;
  font-size: 30px;
}
.view{
  position: absolute;
  top: 15%;
  right: 750px;
  /* -ms-transform: translateY(-50%); */
  transform: translateX(-10%);
}
.sidebar{
  position: fixed;
  width: 300px;
  height:100%;
  background: black;
  

}
.sidebar  ul li{
   color: white;
  list-style: none;
  padding: 15px 10px;
  
}
.sidebar a {
  color: white; 
  border-bottom: 1px solid rgba(100,100,100,0.3);
}
.display{
  width:1600px; 
  text-align:center;
  top: 120px;
}