
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div style="text-align: center">
    <h4>{{errorMsg}}</h4>
</div>

<div class="container">
    <!-- <form> -->
    <div class="row">
        <div class="col-md-6">
                <fieldset>
                    <h1>GreenCarWash</h1>
                    <h3>REGISTRATION</h3>

                    <div class="form-group">
                        <label for="userName">Email </label>
                        <input id="userName" name="userName" class="form-control" 
                        pattern="^(.+)@(.+)$"
                        [(ngModel)]="custDetails.userName" #userName="ngModel"
                        placeholder="Enter valid email address" >
                        <div *ngIf = "userName.invalid" class="alert alert-danger">enter proper mail</div>
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="name" 
                        [(ngModel)]="custDetails.password" placeholder="Enter password" required>
                      </div>
                    <div class="form-group">
                        <input class="btn btn-success" type="submit" name="submit_reg" value="submit" (click)="submitNow()">
                       
                    </div>
                    
                </fieldset>
            </div>
    </div>
<!-- </form> -->

</div>